@mixin button {
	padding: 12px 24px;
	border: 2px solid #fff;
	background: transparent;
	color: #fff;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	&:hover {
		background-color: #fff;
		color: #313131;
	}
}

@mixin buttondk {
	padding: 12px 24px;
	border: 2px solid #313131;
	background: transparent;
	color: #313131;
	font-size: 12px;
	font-weight: 700;
	letter-spacing: 2px;
	text-transform: uppercase;
	&:hover {
		background-color: #313131;
		color: #fff;
	}
}

$black: #000;
$white: #fff;