
.project-thumbnail {
	h4 {
		margin: 18px 0 6px 0;
	}
	p {
		margin-bottom: 12px;
	}
	&:hover {
	opacity: 0.8;
	img {
		-webkit-transform: rotate(0) scale(1);
		transform: rotate(0) scale(1);
	}
}
}

.gallery-item .gallery-caption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	transform: translateY(0px);
}

.intro {
	width: 48%;
	float: left;
}

.whatwedid {
	list-style-type: none;
	margin: 0;
	float: left;
	li {
		//display: inline-block;
	}
}

.credits {
	list-style-type: none;
	margin: 0;
	.credits-role {
		font-weight: bold;
		padding-right: 2px;
	}
}

.intro-divs {
	&:after {
		clear: both;
		content: "";
	display: table;
	}
}

.single-project .type-project.has-post-content {
	margin-bottom: 0;
}