.last {
  margin-right: 0 !important; }

.line {
  margin-bottom: 96px; }

.center {
  text-align: center; }

.blue-heading, h6 {
  color: white;
  text-transform: uppercase;
  padding-left: 5px;
  font-family: "Open Sans Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
  letter-spacing: 0.00625em;
  text-align: right;
  padding-right: 20px;
  font-size: 5em;
  background-color: rgba(41, 184, 228, 0.3); }

.link, .page .two-third p a, .page .two-third .split li a, .split .page .two-third li a {
  border-bottom: 1px dotted #444; }

h1, .frontpg, h2, h3, h4 {
  font-family: "Open Sans Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
  font-weight: 300; }

h2 {
  font-size: 22px;
  line-height: 30px; }

#portfolio h2 {
  text-align: left;
  margin-top: 5px;
  margin-bottom: 5px; }

h3 {
  font-size: 24px;
  line-height: 28px; }

h4 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 600; }

.one-whole {
  width: 100%;
  clear: both;
  margin-top: 0;
  margin-bottom: 48px; }

.no-margin {
  margin-bottom: 0 !important; }

::selection {
  background: #29b8e4; }

::-moz-selection {
  background: #29b8e4; }

.imdb {
  font-family: Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  font-size: 80%;
  padding-right: 2px; }

#header a {
  color: black; }
#header .header-color {
  background-color: white !important; }
#header .inner {
  padding-right: 40px; }
#header .header-bg {
  margin-bottom: 75px !important; }
  #header .header-bg img {
    opacity: 1.0; }

#logo {
  font-family: "ticketbookmedium", Futura, Impact, Haettenschweiler, "Franklin Gothic Bold", Charcoal, "Helvetica Inserat", "Bitstream Vera Sans Bold", "Arial Black", sans-serif;
  margin-top: 10px; }
  #logo img {
    float: left;
    padding-right: 20px;
    max-height: 1.5625em;
    width: auto;
    margin-top: 0; }
    #logo img:hover {
      opacity: 1.0; }
  #logo a {
    color: black;
    display: block;
    font-size: 2em;
    line-height: 1.875em; }

#page-header .inner h1, #page-header .inner .frontpg {
  margin-top: 90px;
  text-align: center;
  width: auto;
  font-family: "Open Sans Condensed", "Arial Narrow", Helvetica, Arial, sans-serif;
  font-size: 48px;
  font-weight: 300;
  text-transform: uppercase;
  padding: 0 0px;
  line-height: 75px; }
  #page-header .inner h1 .box, #page-header .inner .frontpg .box {
    border-bottom: 4px solid white;
    padding: 0 40px; }

.page-template-template-home-php #header h1, .page-template-template-home-php #header .frontpg {
  visibility: hidden; }

#page-header .inner {
  padding: 48px 40px 4px 0; }

#nav {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 300;
  float: right; }
  #nav ul {
    margin-left: 70px; }
    #nav ul li {
      margin-left: 40px; }

#nav ul li.current-menu-item > a {
  color: black; }

#nav ul li a {
  line-height: 75px;
  font-weight: 600; }
  #nav ul li a:hover {
    opacity: 0.5;
    box-shadow: 0 4px 0 black inset; }

#nav ul li.current-menu-item > a {
  box-shadow: 0 4px 0 black inset; }

.mob-btn {
  color: black;
  line-height: 75px; }

.heading, h2 {
  position: relative;
  margin-bottom: 55px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-align: center; }

.heading:after, h2:after {
  height: 0; }

#mobile-menu {
  text-transform: uppercase;
  padding-left: 20px;
  letter-spacing: 0.03125em; }

.search-icon {
  line-height: 75px;
  color: black;
  font-weight: 600;
  font-size: 13px;
  cursor: pointer; }

#searchbar {
  position: absolute;
  z-index: 1000;
  top: 4px;
  right: 10px; }
  #searchbar form input {
    text-transform: uppercase;
    font-weight: 600 !important;
    font-size: 12px !important;
    line-height: 13px;
    letter-spacing: 1px !important;
    padding: 8px 8px;
    height: 40px;
    width: 380px; }
    #searchbar form input::-webkit-input-placeholder {
      line-height: 15px; }
    #searchbar form input:-moz-placeholder {
      line-height: 15px; }
    #searchbar form input::-moz-placeholder {
      line-height: 25px; }
    #searchbar form input:-ms-input-placeholder {
      line-height: 15px; }

#mobile-menu #searchbar {
  position: static; }
  #mobile-menu #searchbar form input {
    width: 240px; }
#mobile-menu i {
  color: white;
  line-height: 30px; }
#mobile-menu .su-spoiler-title {
  display: inline-block; }
#mobile-menu .su-spoiler-content {
  display: inline-block; }

.su-spoiler-title {
  padding: 0 !important; }

.search #primary, .search-results #primary {
  margin-bottom: 60px; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #444; }

p, .split li {
  font-size: 0.75em;
  letter-spacing: normal;
  line-height: 220%;
  color: black; }

.large {
  font-size: 0.875em !important; }

#footer-sidebar .widget {
  width: 555px; }

.entry-thumb {
  background-color: white;
  position: static;
  margin-bottom: 20px; }
  .entry-thumb a:hover {
    cursor: pointer; }
    .entry-thumb a:hover img {
      opacity: 0.8;
      -webkit-transform: none;
      transform: none;
      -webkit-filter: none; }

#main .inner {
  padding-bottom: 20px;
  padding-top: 60px; }

#page-header .subtitle {
  display: none; }

h5 {
  margin-top: -15px;
  font-size: 13px;
  font-style: italic;
  font-weight: 600; }

.box-2 {
  border-bottom: 4px solid #444;
  padding: 0 20px;
  font-size: 40px; }

.social {
  margin: 0; }

.caption {
  margin-top: -10px;
  color: #AAA;
  font-size: 14px;
  text-align: center; }

.mini-bio a, .bio a, .split a {
  border-bottom: 1px dotted #444444; }

.home .entry-thumb h4 {
  display: none; }

.home-right {
  padding-top: 15px; }
  .home-right h3 {
    margin-bottom: 20px; }
  .home-right p, .home-right .split li, .split .home-right li {
    margin-bottom: 20px; }

.bold, .credit-links a {
  border-bottom: 1px dotted #d9d9d9; }

#home .two-third .large, #home .two-third p, #home .two-third .split li, .split #home .two-third li, #home .one-third .large, #home .one-third p, #home .one-third .split li, .split #home .one-third li {
  background-color: white;
  box-sizing: border-box;
  padding: 20px; }
#home .two-third h3, #home .one-third h3 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 10px; }
#home .two-third p, #home .two-third .split li, .split #home .two-third li, #home .one-third p, #home .one-third .split li, .split #home .one-third li {
  text-align: center; }
  #home .two-third p:first-child, #home .two-third .split li:first-child, .split #home .two-third li:first-child, #home .one-third p:first-child, #home .one-third .split li:first-child, .split #home .one-third li:first-child {
    text-align: left; }

#home .one-third p:first-child, #home .one-third .split li:first-child, .split #home .one-third li:first-child {
  display: none; }

#home .one-third img {
  overflow: hidden;
  width: 100%; }

.home .two-third {
  margin-bottom: 20px; }
.home .description {
  margin-top: 10px;
  margin-bottom: 60px; }
.home .button {
  margin: 0; }

.home .last .large p, .home .last .large .split li, .split .home .last .large li {
  margin-bottom: 0;
  padding-top: 10px !important;
  padding-bottom: 10px !important; }
.home .last .large h3 {
  margin-bottom: 10px; }

blockquote {
  margin: 10px 0 10px 24px;
  padding: 15px 0 15px 24px; }
  blockquote h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #6a6a6a; }
  blockquote p, blockquote .split li, .split blockquote li {
    font-size: 14px;
    line-height: 30px;
    color: #6a6a6a; }

.praise {
  margin: 10px 0 10px 24px;
  padding: 15px 0 15px 24px;
  font-size: 16px;
  line-height: 30px;
  color: black; }
  .praise a {
    font-size: 15px; }

.bio p:first-child, .bio .split li:first-child, .split .bio li:first-child {
  font-size: 16px;
  line-height: 32px;
  color: #404040; }

.bio-sm {
  background: white;
  margin-top: -100px;
  display: inline-block;
  padding: 20px 30px 0px 0px; }
  .bio-sm a {
    white-space: pre; }

@media only screen and (min-width: 1220px) {
  .mini-bio {
    min-height: 115px; } }
.page-id-12 .photo p, .page-id-12 .photo .split li, .split .page-id-12 .photo li {
  display: none; }
.page-id-12 h3 {
  margin-top: 10px;
  margin-bottom: 5px; }
.page-id-12 h4 {
  margin-bottom: 10px; }

.page-id-21 #main .inner {
  padding-top: 10px; }
  .page-id-21 #main .inner h2 {
    margin-top: 10px;
    margin-bottom: 7px; }
  .page-id-21 #main .inner p, .page-id-21 #main .inner .split li, .split .page-id-21 #main .inner li {
    margin-top: 0;
    line-height: 170%; }

#filter {
  margin-bottom: 60px; }
  #filter h4 {
    margin: 0;
    padding: 5px 11px 4px 0px;
    min-width: 200px; }
  #filter ul {
    margin-top: 10px; }
  #filter ul {
    text-align: center; }
    #filter ul li {
      display: inline-block;
      float: none; }

.anchor {
  visibility: hidden;
  position: relative;
  top: -200px;
  display: block; }

#portfolio {
  padding: 0 !important;
  margin-top: 56px; }

.portfolio p a, .portfolio .split li a, .split .portfolio li a {
  border-bottom: 1px dotted #444; }

.all {
  background-color: #f2f2f2; }

h6 {
  background-color: white;
  color: #444;
  border: 1px solid #444;
  font-size: 1.25em;
  text-align: center;
  padding: 5px 0;
  margin-top: 10px; }

.split {
  list-style-type: none;
  -moz-column-count: 2;
  -moz-column-gap: 1em;
  -webkit-column-count: 2;
  -webkit-column-gap: 1em;
  column-count: 2;
  column-gap: 1em; }
  .split li {
    text-transform: uppercase;
    font-weight: 600; }

.portfolio-nav {
  display: none; }

.portfolio-img {
  width: 100%;
  height: auto;
  overflow: hidden; }

.sign {
  font-weight: 600;
  margin-left: 10px;
  font-size: 15px;
  white-space: pre;
  display: block;
  text-align: right; }
  .sign:before {
    content: "\2014";
    padding-right: 5px; }

.description {
  margin-top: -60px;
  margin-left: 20px;
  text-align: left; }
  .description span {
    background-color: #444;
    color: white;
    font-size: 1.75em;
    line-height: 2em;
    -webkit-box-shadow: 0px 0px 0px 5px #444;
    -moz-box-shadow: 0px 0px 0px 5px #444;
    box-shadow: 0px 0px 0px 5px #444; }
    .description span.quote {
      background-color: white;
      -webkit-box-shadow: 0px 0px 0px 5px white;
      -moz-box-shadow: 0px 0px 0px 5px white;
      box-shadow: 0px 0px 0px 5px white;
      color: #444; }

.image-text {
  margin-top: -60px;
  margin-left: 20px;
  text-align: left; }

.image-text-2 {
  margin-top: 0;
  margin-left: 20px;
  text-align: left; }

.image-text-3 {
  margin-top: 0;
  margin-left: 0;
  text-align: left; }

.gray-background {
  background-color: #444;
  color: white;
  font-size: 1.75em;
  line-height: 2em;
  -webkit-box-shadow: 0px 0px 0px 5px #444;
  -moz-box-shadow: 0px 0px 0px 5px #444;
  box-shadow: 0px 0px 0px 5px #444; }

.white-background {
  font-size: 1.75em;
  line-height: 2em;
  background-color: white;
  -webkit-box-shadow: 0px 0px 0px 5px white;
  -moz-box-shadow: 0px 0px 0px 5px white;
  box-shadow: 0px 0px 0px 5px white;
  color: #444; }

.textblock {
  display: inline;
  margin-top: -60px;
  background-color: #444;
  color: white;
  font-size: 1.75em;
  line-height: 2em; }

.credits {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .credits li {
    padding-left: 10%;
    font-size: 14px;
    vertical-align: top; }
    .credits li:nth-child(odd) {
      font-weight: 600;
      font-size: 11px; }
    .credits li:nth-child(even) {
      margin-bottom: 15px; }
    .credits li a {
      border-bottom: 1px dotted #444; }

.credits-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .credits-section ul li {
    font-size: 14px;
    vertical-align: top;
    padding-left: 10%; }
    .credits-section ul li:nth-child(odd) {
      font-weight: 600;
      font-size: 11px; }
    .credits-section ul li:nth-child(even) {
      margin-bottom: 15px; }
    .credits-section ul li a {
      border-bottom: 1px dotted #444; }

.what-we-did-section ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px; }
  .what-we-did-section ul li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
    vertical-align: top; }
    .what-we-did-section ul li:nth-child(odd) {
      font-weight: 300;
      margin-right: 8%;
      font-size: 14px;
      width: 35%;
      padding-left: 10%; }
    .what-we-did-section ul li a {
      border-bottom: 1px dotted #444; }

.credits-top {
  list-style-type: none;
  margin: 0;
  padding: 0;
  margin-bottom: 40px; }
  .credits-top li {
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding-bottom: 20px;
    vertical-align: top; }
    .credits-top li:nth-child(odd) {
      margin-right: 8%;
      font-weight: 300;
      width: 35%;
      font-size: 14px;
      padding-left: 10%; }
    .credits-top li a {
      border-bottom: 1px dotted #444; }

.su-tabs {
  background: #444444 !important;
  padding: 1px !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  -moz-border-radius-topright: 0 !important;
  -moz-border-radius-bottomright: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important; }

.su-tabs-nav span {
  color: white; }

.page-template-blog-php #primary, .template-blog #primary, .blog #primary, .contact #primary, .page-template-contact-php #primary, .page-template #primary, .search #primary, .search-results #primary, .search-no-results #primary, .error404 #primary {
  width: 100% !important; }

#main .inner {
  padding-right: 40px; }

.blog img {
  margin: 0 auto; }

article .entry-title {
  letter-spacing: 0;
  font-size: 42px;
  line-height: 63px;
  margin-bottom: 0;
  text-transform: none;
  text-align: left; }

.entry-meta {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 0.75em; }

article a[rel="author"] {
  border-bottom: 1px dotted #d9d9d9;
  text-decoration: none; }

#pagination {
  margin-bottom: 40px; }
  #pagination ul li {
    border: 2px solid #444; }
    #pagination ul li a {
      background-color: white;
      background: white; }

#pagination:before {
  content: "Read More from Cowboy Bear Ninja";
  font-weight: 300;
  letter-spacing: 0.03125em;
  color: #444;
  margin-bottom: 10px;
  display: inline-block; }

.post-nav {
  border-top: 4px solid #f8f8f8;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 0.03125em;
  color: #444;
  font-size: 14px; }
  .post-nav li a {
    border-bottom: 0 !important;
    font-size: 14px; }

.tax-portfolio-category #header .header-color, .search-no-results #header .header-color, .error404 #header .header-color {
  background-color: #29b8e4 !important;
  background-image: url("../../../../uploads/seeChange2.jpg"); }

.search-results #header .header-color {
  background-color: #29b8e4 !important;
  background-image: url("../../../../uploads/home.jpg"); }

.entry-media {
  display: none; }

.single #primary, .author #primary, .archive #primary {
  width: 100%; }

.single-format-standard #main .inner {
  padding-top: 10px;
  padding-bottom: 60px; }
  .single-format-standard #main .inner .entry-meta {
    text-align: center;
    padding-bottom: 20px; }
    .single-format-standard #main .inner .entry-meta a {
      border-bottom: 1px dotted #444444; }

.single-format-standard .clearfix a, .format-standard .clearfix a {
  border-bottom: 1px dotted #444444; }

.entry-title a {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: .5px; }

.hentry {
  border-bottom: 4px solid #f8f8f8; }
  .hentry .clearfix img {
    margin: 0 auto; }

#map {
  position: relative;
  display: block;
  *zoom: 1; }
  #map:before, #map:after {
    content: " ";
    display: table; }
  #map:after {
    clear: both; }
  #map .su-gmap {
    margin: 0;
    padding: 150px; }

.contact-sm-div p, .contact-sm-div .split li, .split .contact-sm-div li {
  display: block;
  font-size: 16px;
  line-height: 24px !important; }

.fa-fw {
  margin-right: 20px;
  margin-left: 40px; }

.overlay {
  background: transparent;
  position: relative;
  z-index: 999;
  width: 100%;
  height: 305px;
  top: 0px;
  margin-top: -305px; }

.fa-sm {
  font-size: 17px;
  background-color: #1e1e1e;
  border-radius: 50%;
  margin-left: 0px;
  margin-right: 5px;
  height: 30px;
  line-height: 30px;
  padding: 0 4px 0 6px;
  color: white; }
  .fa-sm:last-child {
    margin-right: 0; }
  .fa-sm:hover {
    color: #444;
    background-color: white; }

#mc_embed_signup {
  display: inline-block;
  margin-top: 0; }

#footer input[type="text"], input[type="email"], input[type="url"], input[type="search"], input[type="password"], textarea {
  line-height: normal;
  width: 220px;
  display: inline-block;
  background: white;
  margin-right: 5px;
  margin-left: 0 !important;
  margin-top: 0 !important;
  height: 31px;
  line-height: inherit;
  padding: 0 5px 0 10px;
  margin-bottom: 10px;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }
  #footer input[type="text"]:active, input[type="email"]:active, input[type="url"]:active, input[type="search"]:active, input[type="password"]:active, textarea:active {
    background-color: white; }

#footer input[type="submit"] {
  font-size: 12px;
  display: inline-block;
  background-color: #1e1e1e;
  border-radius: 50%;
  margin-left: 0px;
  height: 30px;
  width: 30px;
  border: 0;
  line-height: 30px !important;
  padding: 0 5px 0 5px;
  color: white;
  outline: none; }
  #footer input[type="submit"]:hover {
    color: #444;
    background-color: white; }

form {
  display: inline-block; }

input:focus::-webkit-input-placeholder {
  color: transparent; }

input:focus:-moz-placeholder {
  color: transparent; }

.textwidget:first-child {
  background-color: #1e1e1e;
  border: 20px solid #1e1e1e !important;
  border-radius: 4px !important; }

#footer {
  margin-bottom: 0;
  vertical-align: baseline; }

#footer-sidebar .inner {
  border-bottom: 5px solid black;
  padding-top: 30px;
  padding-bottom: 10px;
  position: static; }
  #footer-sidebar .inner p, #footer-sidebar .inner .split li, .split #footer-sidebar .inner li {
    display: inline-block;
    padding-right: 20px;
    color: white;
    margin-bottom: 20px; }
  #footer-sidebar .inner .links a {
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    font-weight: 600; }

@-moz-document url-prefix() {
  @media screen and (min-width: 900px) {
    #footer-sidebar .inner {
      padding-bottom: 30px; } } }

.inner-center {
  margin: 0 auto;
  text-align: center; }

.search-no-results #primary, .error404 #primary {
  margin-bottom: 80px; }
  .search-no-results #primary form, .error404 #primary form {
    width: 100%;
    padding-top: 10px; }
    .search-no-results #primary form input[type=text], .error404 #primary form input[type=text] {
      width: 62%;
      display: inline-block;
      padding-bottom: 14px;
      margin-right: 10px; }
    .search-no-results #primary form input[type=submit], .error404 #primary form input[type=submit] {
      line-height: 18px; }

.wpb_content_element .wpb_tabs_nav li.ui-tabs-active, .wpb_content_element .wpb_tabs_nav li:hover {
  background-color: white !important;
  border: 1px solid #444;
  border-bottom: 2px solid white !important;
  margin-bottom: -2px !important; }

.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header, .wpb_content_element.wpb_tabs .wpb_tour_tabs_wrapper .wpb_tab {
  background-color: white !important;
  border: 1px solid #444; }

.wpb_content_element .wpb_tabs_nav li {
  background-colr: white !important;
  border: 1px solid #444;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px; }

.wpb_tabs .wpb_tabs_nav li {
  margin: 0 -1px 0 0 !important;
  border-bottom: none; }

.wpb_content_element .wpb_tabs_nav li:hover {
  border-bottom: 1px solid #444444 !important; }

.wpb_row {
  margin-bottom: 60px !important; }

@media only screen and (max-width: 479px) {
  #footer-sidebar .inner p, #footer-sidebar .inner .split li, .split #footer-sidebar .inner li {
    padding-right: 0; } }
@media only screen and (max-width: 767px) {
  article .entry-title, .entry-title a {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 10px; }

  .photo {
    margin-bottom: 20px; }
    .photo img {
      width: 100%; }

  #page-header .inner h1, #page-header .inner .frontpg {
    font-size: 30px;
    line-height: 41px;
    padding-top: 35px; }
    #page-header .inner h1 .box, #page-header .inner .frontpg .box {
      border-bottom: 2px solid white;
      padding: 0; }

  .page-id-12 h2 {
    margin-top: 40px; } }
@media only screen and (max-width: 980px) {
  .cbn {
    display: none; }

  .split {
    -moz-column-count: 1;
    column-count: 1;
    -webkit-column-count: 1; }

  #main .inner {
    padding-right: 0; } }
@media only screen and (max-device-width: 1024px) {
  #header, #footer, #main {
    width: 120% !important; }

  #mobile-menu {
    width: 114% !important;
    overflow-x: hidden !important; }

  #map {
    position: static;
    width: 80%;
    margin-left: 80px;
    margin-bottom: 80px; }

  #header .inner {
    padding-right: 0; }

  .description {
    margin-left: 5px; }

  .fa-fw {
    margin-left: 0; }

  .bio-sm {
    margin-left: -2px; } }
.map-replace, .search-mobile {
  display: none; }

@media only screen and (max-device-width: 1024px) and (min-device-width: 768px) {
  #mobile-menu {
    width: 117.4% !important;
    margin-bottom: -2px; } }
@media only screen and (max-device-width: 650px) {
  .map {
    width: 0%; }

  #map, .search-icon {
    display: none; }

  .map-replace {
    display: block; }

  .search-mobile {
    display: inline;
    color: white !important; }

  .su-spoiler-title {
    font-size: 14px !important;
    line-height: 24px !important;
    font-weight: normal !important;
    padding: 5px 0 !important;
    display: block !important;
    color: white !important; }

  #page-header .inner h1, #page-header .inner .frontpg {
    margin-top: 30px; } }
